.chromosome-list {
  display: flex;
  flex-direction: column;
  gap: 10px; /* space between lines */
}

.chromosome-item {
  display: flex;
  justify-content: space-between; /* space between name and length */
  padding: 5px 10px;
  border-bottom: 1px solid #ddd; /* optional separator */
}

.chromo-name {
  font-weight: bold;
  margin-right: 100px;
}

.chromo-length {
  color: #555;
}
